* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
}

html {
    overflow: hidden;
}

body {
    background-color: black;
    overflow-x: hidden;
    width: 100%;
}

main {
    background-color: transparent;
    position: relative;
    margin: auto;
    z-index: 1;
}

ul {
    list-style-type: none;
}


input, button {
    border: none;
    background-color: transparent;
}

img {
    width: 100%;
    height: 100%;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: 0.7s ease-in-out;
    background-color: violet;
}

a:hover {
    color: black;
}