:root {
    --header-height: 70px;
    --transparent: transparent;
}

header {
    display: none;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    background-color: var(--transparent);
}

#currentPage {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: 100%;
    width: 30%;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__li {
    height: 100%;
    width: 150px;
    list-style: none;
    background-color: red;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__button:hover {
    background-color: violet;
}

.header__icon {
    width: 30px;
    height: 30px;
}