:root {
    --pvp-section-height: 57%;
    --pvp-photo-width: calc(400px);
    --pvp-zones-shift-up: -7vh;
    --pvp-zones-height: 30%;
    --move-button-transition: color ease calc(var(--button-transition-duration) / 5),
                              background-color ease-in-out calc(var(--button-transition-duration) / 2),
                              border ease-in-out calc(var(--button-transition-duration) / 2);
    --user-hp-percent: 100%;
    --computer-hp-percent: 100%;
}

.pvp__section {
    display: none;
    justify-content: center;
    width: 100%;
    height: var(--pvp-section-height);
    margin-top: 10vh;
}

.pvp__div-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
}

.pvp__character-card {
    height: 100%;
}

.pvp__zones {
    display: flex;
    flex-direction: column;
    height: var(--pvp-zones-height);
    transform: translateY(var(--pvp-zones-shift-up));
}

.pvp__zones.user {
    text-align: right;
}

.pvp__div-side.computer {
    flex-direction: row-reverse;
}

.pvp__img-holder {
    width: var(--pvp-photo-width);
    height: 520px;
}

.pvp__img {
    object-fit: cover;
}

.pvp__div-hp {
    margin-top: 15px;
    width: var(--pvp-photo-width);
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
}

.pvp__div-hp.user {
    background: linear-gradient(to right, red var(--user-hp-percent), transparent 0);
}

.pvp__div-hp.computer {
    background: linear-gradient(to right, red var(--computer-hp-percent), transparent 0);
}

.pvp__move {
    position: absolute;
    top: calc(100vh - var(--header-height) - var(--pvp-zones-height) + var(--pvp-zones-shift-up) + 7vh - var(--pvp-section-height));
    width: 10vw;
    height: 70px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 3vw;
    border: var(--default-button-border);
    transition: var(--move-button-transition);
}

.pvp__move:hover {
    background-color: red;
    border: red;
    color: black;
}
